.dropdown-title-domain {
    display: block;
    padding: 3px 10px;
    font-size: 13px;
    line-height: 1.42857143;
    white-space: nowrap;
    font-weight: bold;
}

#table-domains i.fa-check{
 	color: green;
}
#table-domains i.fa-times{
 	color: #ce0000;
}

.opac05{
    opacity: 0.5;
}


div.cont-checkdomain{
 padding-top: 92px;
}

div.cont-checkdomain .table tbody > tr > td {
    text-align: center;
}

div.cont-checkdomain .action {
                width: 65px;
                text-align: center;
}


@media (max-width: 768px) {
    div.foot-checkdomain{
        padding-right: inherit;
    }
    div.cont-checkdomain .price-behind {
        margin-top: 0em;
    }
    div.cont-checkdomain input.form-control.domain {
        font-size: 16px;
    }
}

div.cont-checkdomain .price.stroke {
   font-weight: normal;
    text-decoration: line-through;
 }

div.cont-checkdomain .price-behind {
    display: inline-block;
    font-weight: bold;
    margin-top: 1.1em;
    margin-left: .25em;
}

div.cont-checkdomain input.form-control{
    height: 45px;  /*PS-defaul 32px, leotheme 34px*/
}
div.cont-checkdomain .col-xs-12, div.cont-checkdomain .col-sm-12, div.cont-checkdomain .col-md-12, div.cont-checkdomain .col-lg-12 {
    float: left;
}
div.cont-checkdomain p{
  line-height: 1;
}

.btn-roanja{
    font-weight: normal;
    font-size: 14px;
    padding: 6px 12px;
    color: #989898;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #ebecec;
    /*border-color: rgb(151, 180, 68);*/
    border-radius: 0px 5px 5px 0px;
    height: 45px;
}


.pointer{
    cursor: pointer;
}

.btn-roanja:hover,
.btn-roanja:active,
.btn-roanja:focus{
    background-color: rgb(151, 180, 68);
    border-color: rgb(151, 180, 68);

}

.font-roanja{
font-size: 17px !important;
}

.busca-roanja {
  border-radius: 5px 0px 0px 5px;
  background-color: #ebecec;
  border: 1px solid #ccc;
  border-right: none;
}

#dimmer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("default.svg") center center no-repeat RGBA(0, 0, 0, 0.7);
    z-index: 23;
}

.choose-domain{
    width:42%;
    background: #333333;
}
.choose-domain:hover{
    width:42%;
    background: #ff9933;
    border: 0px;
}

.send-choose-domain{
width: 18%;
}

.send-choose-domain:hover{
width: 18%;
background: #ff9933;
}

.cartdomains{
background-color: rgb(151, 180, 68);
color: white;
padding: 8px;
border-radius: 9px 9px 9px 9px;
}

.busca-roanja:focus {
  box-shadow: none;
  border: 1px solid #ccc;
  border-right: none;
  outline: 0px none;
}
.container-form-domain p {
  color: #484646;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin: 0px 0px 40px;
}

p.rj-title {
			    font-size: 60px;
			    margin: 0px;
			    margin-bottom: 5px;
	}
.rj-background {
			    background-image: url("../img/backdomain.png");
			    background-size: 100% 450px;
			    background-repeat-x: no-repeat;
			    background-repeat-y: no-repeat;
			    min-height: 450px;
			    margin-left: -90px;
			    margin-right: -90px;
			}
